smartmeter/local_settings.py
package-lock.json
notebook.sh
Queries.ipynb
.ipynb_checkpoints/
node_modules/
*.bkp
*.pyc
.project
.pydevproject
leiame.txt
docs/_build/*
docs/static/*
docs/templates/*
media/
.idea/*
.DS_Store
/media/*
bin/
include/
lib/
lib64
share/
cache/
pyvenv.cfg
.vscode/
.idea/